<section class="container">


  <table *ngIf="transfers.length > 0; else listEmpty">
    <thead>
      <th>Data</th>
      <th>Valor</th>
      <th>Conta Destino</th>
    </thead>
    <tbody>
      <tr *ngFor="let transfer of transfers">
        <td>{{transfer?.dateTransfer | date: 'short'}}</td>
        <td>{{transfer?.valueTransfer | currency}}</td>
        <td>{{transfer?.countDestination}}</td>
      </tr>
    </tbody>
  </table>

  <ng-template #listEmpty>
    <h4 class="alert info">Você não possui nenhuma transferência realizada</h4>
  </ng-template>
</section>